
@font-face {
	font-family: "Arista";
	src: url(fonts/Arista2.0.ttf);
}

body {
	margin: 0;
	background: #e0e0e0;
}
.sidebar {
	position: fixed;
	background: #212121;
	text-align: center;
	height: 100%;
	width: 25%;
	margin: 0px;
	padding: 0px;
}

.sidebar .nearixlogo{
	color: white;
	height: 5%;
	border-bottom: 2px solid #424242;
}

.sidebar .nearixlogo #nearixlogo {
	float: left;
	padding-right: 2%;
}

#sidebarButtonDashboard {
	color: white;
	display: inline-block;
	border-radius: 5px;
	margin-top: 10%;
	width: 80%;
	border: none;
	background-color: #424242;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
}

#sidebarButtonSettings {
	display: inline-block;
	color: white;
	border-radius: 5px;
	margin-top: 5%;
	width: 80%;
	border: none;
	background-color: #03a9f4;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;	
}

#sidebarButtonQuickReboot {
	display: inline-block;
	color: white;
	border-radius: 5px;
	margin-top: 30%;
	width: 80%;
	border: none;
	background-color: #64dd17;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;	
}

#sidebarButtonBotReset {
	display: inline-block;
	color: white;
	border-radius: 5px;
	margin-top: 5%;
	width: 80%;
	border: none;
	background-color: #ffb300;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;	
}

#sidebarButtonLogout {
	display: inline-block;
	color: white;
	border-radius: 5px;
	margin-top: 5%;
	width: 80%;
	border: none;
	background-color: #dd2c00;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;	
}
.rightContainer {
	width: 75%;
	float: right;
}


header {
	position: fixed;
	text-align: center;
	background: white;
	width: 80%;	
	height: 7%; 
}
header a {
	float: left;
	font-family: "Arista";
	text-shadow: 1px 1px blue;
}

.container {
	margin-top: 80px; 
	display:flex;
	flex-flow: row wrap;
}

.container #token {
	display: flex;
  	height: 400px;
  	order: 1;
  	flex: 0 1 80%; 
}

section {
   height: 400px;
   order: 2;
   flex: 0 1 80%;
}

footer {
  height: 80px;
  order: 3;
  flex: 0 1 80%;
}